[Desktop Entry]
Name=SuperTask Pro
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/SuperTaskPro/SuperTaskPro.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
