[Desktop Entry]
Name=Tasks
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/tasks-app/tasks-app.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
