Source: tasks-app
Section: unknown
Priority: extra
Maintainer: Michael Spencer <spencers1993@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/tasks-app.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/tasks-app.git;a=summary

Package: tasks-app
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-qtquick2-plugin,qtdeclarative5-test-plugin,qtdeclarative5-u1db1.0,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,${shlibs:Depends},qmlscene
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
